﻿<div class="sidebar bg-light">
    <div class="pt-2 h-100">
        <ProfilePicture>
            <img class="img-fluid rounded-circle" src="images/profilePicture.jpg" />
        </ProfilePicture>
        <div class="menu list-group list-group-flush pt-5">
            <NavLink class="list-group-item list-group-item-action bg-light" href="/" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
            <NavLink class="list-group-item list-group-item-action bg-light" href="/employeeoverview">
                <span class="oi oi-people" aria-hidden="true"></span> Employees
            </NavLink>
        </div>
    </div>
</div>