﻿<h3>Inbox</h3>

@if(MessageCount > 0)
{
    <h4>You currently have @MessageCount questions form employees!</h4>
}
else
{
    <h4>No questions form employees! All good!</h4>
}

<br />
<br />

@code {

}
