﻿
<div class="col">
    <div class="card rounded-3 employee-card">
        <div class="card-header py-3">
            <h4>@Employee.FirstName @Employee.LastName</h4>
        </div>
        <div class="card-body employee-card text-center">
            <div class="mb-3">
                <img src="@($"https://gillcleerenpluralsight.blob.core.windows.net/person/{Employee.EmployeeId}.jpg")" class="rounded-circle" />
            </div>
            <button class="btn btn-primary btn-sm mb-1" @onclick="@(async() => await EmployeeQuickViewClicked.InvokeAsync(Employee))">Quick view</button>
            @*<a href="@($"employeedetail/{Employee.EmployeeId}")" class="btn btn-outline-primary" > Full details</a>*@
            <button class="btn btn-outline-primary btn-sm mb-1" @onclick="(() => NavigateToDetails(Employee))">Full Details</button>
        </div>
    </div>
</div>
