﻿@if (_employee != null)
{
    <div class="modal fade show d-block" id="exampleModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titleLabel">Employee Quick View</h5>
                    <button type="button" class="close btn btn-lg" @onclick="Close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="col row">
                        <div class="col-12 col-sm-8">
                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Employee ID</label>
                                <div class="col-sm-7">
                                    <label type="text" class="form-control-plaintext">@_employee.EmployeeId</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">First name</label>
                                <div class="col-sm-7">
                                    <label type="text" readonly class="form-control-plaintext">@_employee.FirstName</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Last name</label>
                                <div class="col-sm-7">
                                    <label type="text" readonly class="form-control-plaintext">@_employee.LastName</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Birthdate</label>
                                <div class="col-sm-7">
                                    <label type="text" readonly class="form-control-plaintext">@_employee.BirthDate.ToShortDateString()</label>
                                </div>
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-5 col-form-label">Email</label>
                                <div class="col-sm-7">
                                    <label type="text" readonly class="form-control-plaintext">@_employee.Email</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-primary" @onclick="Close">Close</button>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <p>something went wrong.</p>
}


